@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root{
    --tipografia-title:'Cormorant Garamond', serif;
    --tipografia-menu:'Manrope', sans-serif;
    --primary-color: #093931;
    --title-color:#F5D38E; 
    --menu-hover:#F2C66D;
    --boton-color:#0D554A; 
}

*{
    margin: 0;
    padding: 0;
}

.encabezado{
    background-color: var(--primary-color);
    height: 62px;
    display: flex;
    justify-content: space-between;
    
}

.encabezado-titulo{
    margin: 10px 70px;
}

.encabezado-titulo h1{
    font-family: var(--tipografia-title);
    color: var(--title-color);
    font-size: 30px;
    line-height: 46px;
}

.encabezado-menu{
    display: flex;
    width: 431px;
    height: 43px;
    top: 10px;
    left: 791px;
    margin: 10px 70px;
    text-align: center;
}

.encabezado-menu ul{
    width: 91.26px;
    height: 43px;
    left: 340.04px;
    padding: 10.5px 0px;
    border-radius: 4px;   
}

.encabezado-menu a{
    color: white;
    text-decoration: none;
    font-family: var(--tipografia-menu);
    font-size: 14px;
    font-weight: 400;
}

.encabezado-menu a:hover{
    cursor: pointer;
    font-weight: 700;
    color: var(--menu-hover);
    border-bottom: 2px solid var(--menu-hover);
}

.encabezado-menu img:hover{
    cursor: pointer;
    color: var(--menu-hover);
}

.principal{
    background-color: var(--primary-color);
    background-image: url('img/VectorFondo.png');
    display: flex; 
    align-items: center;  
    padding: 30px 70px; 
    margin-bottom: 60px;
}

.principal-texto{
    font-family: var(--tipografia-title);
    color: var(--title-color);
    font-size: 70px;
    font-weight: 400;
    line-height: 94px;
}

.principal-boton{
    background: transparent;  
    border: 1px solid white; 
    width: 200px;
    height: 52px;
    top: 538px;
    left: 132px;
    padding: 12px, 59px, 12px, 59px;
    border-radius: 26px;
    padding: 10px 20px; 
    color: white; 
    font-family: var(--tipografia-menu);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
}

.principal-img{
    position: relative;
    margin: 0 100px;
}


.imagen-uno{
    width: 407px;
    height: 543px;
    top: 139px;
    left: 741px;
    border-radius: 8px; 
    padding: 200;
}

.principal-img{
    display: flex;
    position: relative;
    
}

.imagen-uno img{
    width: 407px;
    height: 543px;
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.principal-dos img{
    position: absolute;
    top: 150px;
    left: 300px;
    width: 241px;
    height: 321px;
    border-radius: 121px 121px 0px 0px;
}

.second-content{
    margin: 0 150px;
    margin-bottom: 80px;
    
}

.second-content-menu{
    display: flex;
    justify-content:center;
}

.second-content-menu ul{
    padding: 0 20px;
    text-align: center;
}

.second-content-menu img{
    width: 62px;
    height: 62px;
    top: 36px;
    left: 1093px;
}

.second-content-title{
    font-family: var(--tipografia-title);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.second-content-text{
    font-family: var(--tipografia-menu);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.third-content{
    top: 1101px;
    margin: 0 70px;
    display: flex;
    margin-bottom: 80px;
}

.third-content-A{
    width: 300px;
}

.third-content-A-title{
    font-family: var(--tipografia-title);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D554A;
    margin-bottom: 10px;

}

.third-content-A-text{
    margin: 5px;
    font-family: var(--tipografia-menu);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 20px;
}

.third-content-A-Boton{
    background: transparent;  
    border: 1px solid var(--boton-color); 
    width: 200px;
    height: 52px;
    top: 280px;
    left: 132px;
    padding: 12px, 59px, 12px, 59px;
    border-radius: 26px;
    padding: 10px 20px; 
    color: var(--boton-color); 
    font-family: var(--tipografia-menu);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
}

.third-content-B{
    width: 1000px;
    top: 1101px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    
}

.third-content-B img{
    width: 260px;
    height: 320px;
    border-radius: 8px; 
    margin-left: 15px;
}

.third-content-B-title{
    font-family: var(--tipografia-title);
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25px;
}

.third-content-B-precio{
    font-family: var(--tipografia-menu);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25px;
}

.fourth-content{
    top: 1607px;
    text-align: center;
    margin: 0 70px;
    margin-bottom: 50px;
}

.fourth-content-title{
    font-family: var(--tipografia-title);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--boton-color);
    margin-bottom: 100px;
}

.fourth-content-img{
    position: relative;
    margin-bottom: 20px;
}

.fourth-content-collections{
    display: flex;
}

.fourth-content-columna{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-content-columna:nth-child(2) .fourth-content-img:nth-child(1) {
    margin-top: -30px;
}

.fourth-content-img img{
    width: 360px;
    height: 360px;
    top: 186px;
    left: 132px;
    border-radius: 8px;
}

.fourth-content-img p{
    position: absolute;
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: var(--tipografia-title);
    font-size: 23px;
    font-weight: 500;
    color: white;
    

}
