@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root{
    --tipografia-title:'Cormorant Garamond', serif;
    --tipografia-text:'Manrope', sans-serif;
    --primary-color: #093931;
    --title-color:#F5D38E; 
    --menu-hover:#F2C66D;
    --boton-color:#0D554A; 
}

*{
    margin: 0;
    padding: 0;
}

header, section, footer{
    margin: 0;
    padding: 5px 150px;
}

header, footer, .first-part,.third-part{
    background-color: var(--primary-color);
}

article{
    margin-bottom:40px;
}

.title{
    font-family: var(--tipografia-title);
}

.text{
    font-family: var(--tipografia-text);
}

header {
    display: flex;
    justify-content: space-between;
    height: 62px;

}

header .title{
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--title-color);
}

header a{
    margin-left: 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

header a:hover{
    cursor: pointer;
    font-weight: 700;
    color: var(--menu-hover);
    border-bottom: 2px solid var(--menu-hover);
}

/*Sección de bones home*/

.button-home ul {
    margin-top: 60px;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.button-home button{
    margin: 0;
    border: none;
    background-color: transparent;
    font-family: Cormorant Garamond;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--boton-color);
}

.button-home button:not(:last-child) {
    margin-right: 20px; 
}

/*Sección de compra*/

.buy-part {
    display: flex;
    justify-content: space-between;
}
  
.buy-partA {
    flex-basis: 40%;
}
  
.buy-partB {
    flex-basis: 55%; /* Ajusta el ancho de la columna B según tus necesidades */
}

.buy-partA{
    display: flex;
}
  
.buy-partA ul {
    flex: 1;
    width: 10%;
    background-color: transparent;
    margin: 0;
    padding: 10px 0px;
}
  
.buy-partA span { 
   position: relative;
   display: inline-block;
    flex: 4;
    width: 90%;
    background-color: transparent;
    margin: 0;
    padding: 10px 10px;
}

.buy-partA .icono {
    position: absolute;
    top: 15px;
    right: 15px;
}

.buy-partA span .imgen{
    width: 477px;
    height: 636px;
    top: 118px;
    left: 206px;
    border-radius: 8px;
}
  
.buy-partA-imgbutton button{
    width: 64px;
    height: 82px;
    top: 212px;
    left: 132px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
}

.buy-partA-imgbutton button img{
    width: 64px;
    height: 82px;
    top: 212px;
    left: 132px;
    border-radius: 4px;
}

.buy-partB{
    padding: 0 20px;
}

.buy-partB .title{
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--boton-color);
}

.buy-partB .code{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
}

.buy-partB .price{
    font-family: Manrope;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color:#B37D10;
    margin-bottom: 5px;
}

.buy-partB .color{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
    color: #424955;
}

.button-color button{
    border-radius: 100%;
    height: 36px;
    width: 36px;
    border: none;
    margin-right: 10px;
    margin-bottom: 15px;
}

.button-color button:hover{
    border: 2px solid var(--boton-color);
}

.button-color .gray{
    background-color: #DEE1E6;
}

.button-color .pink{
    background-color:#E6AE87;
}

.buy-partB div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.buy-partB div .size{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #424955;
}

.buy-partB div .what{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #424955;
    text-decoration: underline;
}

.buttons-size{
    margin-bottom: 5px;
}

.buttons-size button{
    width: 25px;
    height: 30px;
    border-radius: 4px;
    border: 1px;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
    background-color: white;
    border: 1px solid #565E6C;
}

.buttons-size button:hover{
    border: 1px solid #8F640C;
    color: #8F640C;
}

.quality{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #424955;
    margin-bottom: 10px;
}

.button-quantity button{
    width: 30px;
    height: 30px;
    top: 466px;
    left: 731px;
    padding: 9px 0px 9px 0px;
    border-radius: 4px;
    background-color: #F3F4F6;
    border: none;
    margin-bottom: 20px;
}

.button-buy{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-buy button{
    width: 210px;
    height: 42px;
    padding: 12px 72.5px 12px 72.5px;
    border-radius: 26px;
    border: 1px solid var(--boton-color);
    color: var(--boton-color);
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    background-color: transparent;
    margin-left: 10px;
}

.button-buy a {
    text-decoration: none;
    color: var(--boton-color);
    width: 100px;
}

.button-buy a p {
    width: 100px;
    margin-left: 5px;
}

.button-buy button:hover{
    border: 1px solid var(--boton-color);
    color: white;
    background-color: var(--boton-color);
    margin-left: 10px;
}

.button-buy a:hover{
    color: white;
}

.button-buy .add{
    display: flex;
    justify-content: space-between;
}

.text-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
  }
  
.text-box  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #9095A0;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
 }
  
.text-box  span {
    margin-right: 1px;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .popup-content {
    padding: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: red;
  }

@media screen and (max-width: 1100px){
    .button-buy{
        display: block;
        justify-content: space-between;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 890px){
    header, section, footer {
        padding: 5px 50px;
    }

     /*Zero-part*/
     .buy-part {
        display: block;
    }

    .buy-partA ul {
        flex: 1;
        width: 20%;
    }

    .button-buy{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
      
    .buy-partA span { 
        flex: 4;
        width: 80%;
      }
    
    .buy-partA .icono {
        position: absolute;
        top: 15px;
        right: 30px;
    }
    
}

@media screen and (max-width:690px){
    header, section, footer{
        margin: 0;
        padding: 5px 5px;
    }

     /*zero patr*/
     .buy-partA{
        display: flex;
      }
      
    .buy-partA ul {
        flex: 1;
        width: 10%;
        margin: 0;
        padding: 10px 0px;
    }
      
    .buy-partA span { 
       position: relative;
       display: inline-block;
        flex: 4;
        width: 90%;
        margin: 0;
        padding: 10px 10px;
      }
    
    .buy-partA .icono {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    .buy-partA span .imgen{
        width: 277px;
        height: 536px;
        top: 118px;
        left: 206px;
        border-radius: 8px;
    }

    .button-buy{
        display: block;
        justify-content: space-between;
        margin-bottom: 20px;
    }

}
